
.theme-default-content:not(.custom) {
    max-width: 1000px;
}
img {
    background: #3eaf7c;
    border: 10px solid #3eaf7c;
    min-width: calc(100% - 20px);
    text-align: center;
    transform: translateX(-10px);
}
.sidebar-group.is-sub-group > .sidebar-heading {
    font-size: 1em !important;
}