
.theme-default-content:not(.custom) {
    max-width: 1000px;
}
img {
    background: #3eaf7c;
    border: 10px solid #3eaf7c;
    min-width: calc(100% - 20px);
    text-align: center;
    transform: translateX(-10px);
}
.sidebar-group.is-sub-group > .sidebar-heading {
    font-size: 1em !important;
}


.v-application table{
    border-collapse: unset;
    margin: unset;
    display: table;
    overflow-x: unset;
}

.v-application td {
    border: unset;
}

.v-application th {
    border: unset;
}

.v-application tr:nth-child(2n) {
    background-color: unset;
}

.v-application h2 {
    font-size: unset;
    padding-bottom: unset;
    border-bottom: unset;
}
.v-application {
    padding: 2rem;
    border: 10px solid #3eaf7c;
}

.demo-and-code-wrapper .code-control{
    z-index: 0 !important;
}