
.theme-default-content:not(.custom) {
    max-width: 1000px;
}
img {
    background: #3eaf7c;
    border: 10px solid #3eaf7c;
}
.sidebar-group.is-sub-group > .sidebar-heading {
    font-size: 1em !important;
}