// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Colors
$black: #000;
$white: #fff;
$b-1:   #333;
$b-2:   #262626;
$w-1:   #e5e5e5;
$g-1:   #309A00;

// Sizes
// Using rem units instead of variables